.logo {
  position: absolute;
  width: 412px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 4;
}

.button {
  padding-right: 15px;
  padding-left: 15px;
  float: center;
  display: inline;
  width: 250px;
  height: 50px;
}

a {
  text-decoration: none
}

body {
  background-color: white;
  margin: auto;
  padding: 0;
}

.twitchlogin {
  margin-right: 25px;
  margin-top: 10px;
  float: right;
}

.socialcontainer {
  background-color: #7dced5;
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 80px;
  border: solid black;
  text-align: center;
}

.twitch-connect {
  display: none;
  cursor: pointer;
}

.twitch-logout {
  display: none;
  cursor: pointer;
}

#tab {
  position: absolute;
  width: 38px;
  height: 47px;
  margin top: 10px;
  left: 0;
  right: 0;
  cursor: pointer;
  z-index: 10;
}

#direct {
  position: relative;
  width: 360px;
  height: 47px;
}

#home {
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  opacity: 0.8;
}

#sched {
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 0.8;
}

#vod {
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0.8;
}

.backgroundhead {
  background-image: url(/assets/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #7dced5;
  height: 455px;
  position: relative;
  margin: auto;
  margin: 10px;
  right: 0;
  left: 0;
  z-index: -3;
  border: solid black;
}

.content {
  position: relative;
  margin-left: 270px;
  margin-right: 270px;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: #7dced5;
  border: solid black;
  z-index: -1
}

.calendar {
  margin-left: 45px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.playlist {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 42px;
  margin-right: 42px;
}

.form {
  padding-left: 547px;
}
