.logo {
  position: absolute;
  width: 412px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.home {
  position: absolute;
  margin: 0 auto;
  right: 1520px;
  left: 20px;
  top: 20px;
  float: left;
  width: 250px;
  height: 50px;
}

#home2{
  opacity: 0;
}

.vod {
  position: absolute;
  margin: 0 auto;
  right: 1270px;
  left: 270px;
  top: 20px;
  float: left;
  width: 250px;
  height: 50px;
}

#vod2{
  opacity: 0;
}

.sched {
  position: absolute;
  margin: 0 auto;
  right: 1020px;
  left: 520px;
  top: 20px;
  float: left;
  width: 250px;
  height: 50px;
}

#sched2{
  opacity: 0;
}

.faq {
  position: absolute;
  margin: 0 auto;
  right: 770px;
  left: 770px;
  top: 20px;
  float: left;
  width: 250px;
  height: 50px;
}

#faq2{
  opacity: 0;
}

.comp {
  position: absolute;
  margin: 0 auto;
  right: 520px;
  left: 1020px;
  top: 20px;
  float: left;
  width: 250px;
  height: 50px;
}

#comp2{
  opacity: 0;
}

.discord {
  position: absolute;
  margin: 0 auto;
  right: 270px;
  left: 1270px;
  top: 20px;
  float: left;
  width: 250px;
  height: 50px;
}

#discord2{
  opacity: 0;
}

.social {
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 1520px;
  top: 20px;
  float: left;
  width: 250px;
  height: 50px;
}

#social2{
  opacity: 0;
}

.pull {
  position: absolute;
  width: 55px;
  height: 40px;
  margin: 0 auto;
  left: 30px;
  top: 20px;
  cursor: pointer;
  visibility: hidden;
}

.backgroundhead {
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  height: 455px;
  position: relative;
  margin: auto;
  right: 0;
  left: 0;
  top: 0;
  z-index: -2;
}

.content {
  position: relative;
  margin-left: 270px;
  margin-right: 270px;
  margin-top: 0px;
  margin-bottom: 10px;
  z-index: -1;
  font-family: Helvetica;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}

.calendar {
  margin-left: 45px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.playlist {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 42px;
  margin-right: 42px;
}

.form {
  padding-left: 547px;
}

a {
  text-decoration: none
}

header {
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  word-spacing: 30px;
}

body {
  background-color: white;
  margin: auto;
  padding: 0;
}