.logo {
  padding-left: 160px;
}

.button {
	padding-right: 15px;
	padding-left: 15px;
	float: center;
	display: inline;
	width: 250px;
	height: 50px;
}

a {
	text-decoration: none
}

body {
	background-color: black;
}

.twitchlogin {
	margin-right: 4px;
	margin-top: 10px;
	float: right;
}

.logohead {
	background-image: url(/assets/banner2.png);
	background-color: black;
	background-repeat: repeat-x;
	height:455px;
	padding-bottom: 15px;
	text-align: center;
}

.socialcontainer {
	background-color:black;
	height:80px;
	border: solid white;
	text-align: center;
}

.twitch-connect {
	display: none;
}

.twitch-logout {
	display: none;
}
