.logo {
  position: absolute;
  width: 412px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -10px;
}


.home {
  position: fixed;
  margin: 0 auto;
  right: 1520px;
  left: 20px;
  top: -55px;
  float: left;
  width: 250px;
  height: 50px;
  border-bottom: 3px solid #dedede;
  border-left: 3px solid #dedede;
  z-index: 1;
}

#home2{
  opacity: 0;
}

.vod {
  position: fixed;
  margin: 0 auto;
  right: 1267px;
  left: 270px;
  top: -55px;
  float: left;
  width: 250px;
  height: 50px;
  border-bottom: 3px solid #d3d3d3;
  z-index: 1;
}

#vod2{
  opacity: 0;
}

.sched {
  position: fixed;
  margin: 0 auto;
  right: 1018px;
  left: 520px;
  top: -55px;
  float: left;
  width: 250px;
  height: 50px;
  border-bottom: 3px solid #d3d3d3;
  z-index: 1;
}

#sched2{
  opacity: 0;
}

.faq {
  position: fixed;
  margin: 0 auto;
  right: 770px;
  left: 770px;
  top: -55px;
  float: left;
  width: 250px;
  height: 50px;
  border-bottom: 3px solid #d3d3d3;
  z-index: 1;
}

#faq2{
  opacity: 0;
}

.comp {
  position: fixed;
  margin: 0 auto;
  right: 521px;
  left: 1020px;
  top: -55px;
  float: left;
  width: 250px;
  height: 50px;
  border-bottom: 3px solid #d3d3d3;
  z-index: 1;
}

#comp2{
  opacity: 0;
}

.discord {
  position: fixed;
  margin: 0 auto;
  right: 271px;
  left: 1270px;
  top: -55px;
  float: left;
  width: 250px;
  height: 50px;
  border-bottom: 3px solid #d3d3d3;
  z-index: 1;
}

#discord2{
  opacity: 0;
}

.social {
  position: fixed;
  margin: 0 auto;
  right: 0;
  left: 1500px;
  top: -55px;
  float: left;
  width: 250px;
  height: 50px;
  cursor: pointer;
  border-bottom: 3px solid #d3d3d3;
  border-right: 3px solid #d3d3d3;
  z-index: 1;
}

#social2{
  opacity: 0;
}

.pull {
  position: fixed;
  width: 55px;
  height: 40px;
  margin: 0 auto;
  left: 10px;
  right: 1850px;
  top: 3px;
  cursor: pointer;
}

.content {
  position: absolute;
  margin-left: 270px;
  margin-right: 270px;
  margin-bottom: 10px;
  top: 440px;
  right: 0;
  left: 0;
  z-index: -1;
  font-family: Helvetica;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}

.calendar {
  margin-left: 45px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.playlist {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 42px;
  margin-right: 42px;
}

.form {
  padding-left: 547px;
}

a {
  text-decoration: none
}

header {
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  word-spacing: 30px;
}

body {
  background-color: white;
  margin: auto;
  padding: 0;
}