.logo {
  position: absolute;
  left: 740px;
  top: 5px;
  z-index: 4;
}

.button {
  padding-right: 15px;
  padding-left: 15px;
  float: center;
  display: inline;
  width: 250px;
  height: 50px;
}

a {
  text-decoration: none
}

body {
  background-color: white;
}

.twitchlogin {
  margin-right: 25px;
  margin-top: 10px;
  float: right;
}

.logohead {
  height:455px;
  padding-bottom: 7px;
  text-align: center;
}

.socialcontainer {
  background-color: #7dced5;
  position: absolute;
  height:80px;
  width: 1870px;
  border: solid black;
  text-align: center;
  left: 14px;
}

.twitch-connect {
  display: none;
  cursor: pointer;
}

.twitch-logout {
  display: none;
  cursor: pointer;
}

#tab {
  position: absolute;
  left: 1145px;
  top: 230px;
  right: 0px;
  cursor: pointer;
}

#direct {
  position: absolute;
  left: 787px;
  top: 230px;
  right: 0px;
}

#home {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;
  opacity: 0.8;
}

#sched {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  opacity: 0.8;
}

#vod {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 0.8;
}

.backgroundhead {
  background-image: url(/assets/banner.png);
  background-repeat: no-repeat;
  height: 455px;
  width: 1870px;
  border: solid black;
  padding-bottom: 5px;
  text-align: center;
  position: absolute;
  top: 6px;
  left: 14px;
  right: 10px;
  z-index: -3;
}

.content {
  position: absolute;
  left: 320px;
  top: 570px;
  width: 1350px;
  background-color: #7dced5;
  border: solid black;
  margin-bottom: 7px;
  z-index: -1
}

.calendar {
  margin-left: 45px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.form {
  padding-left: 547px;
}
